{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/web_search.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
        <title>Jobomate</title>
    </head>
    <body>
        <div class="page-header">
            <h1>Jobomate</h1>
        </div>
        <div class="overview">
            <p>
            Automate your Job Search
            </p>
            </div>
        <div class="description">
            <p>
            Enter a job description and a location then let Jobomate handle the rest!
            </p>
        </div>
        <div class ="information_details">
            <p>
            First tell us who you are!
            </p>
        </div>
        <div>
        <p>
            <form method="POST">
            {% csrf_token %}
            <input type="text" size="50" maxlength="50" name="first_name" placeholder="First Name..." />
            <input type="text" size="50" maxlength="50" name="last_name" placeholder="Last Name..." />
            <br><br>
            <input type="email" size="50" maxlength="50" name="email" placeholder="Email address..." />
            <label class="file_upload">
            <input type="file" size="50" name="resume" />
            </label>
            </p>
        </div>
        <div class="job_text">
            <p>
            Now let's search for some jobs!
            </p>
        </div>
        <div class="job_forms">
            <p>
                <form method="POST">
                {% csrf_token %}
                <input type="text" size="50" maxlength="100" name="job_title" placeholder="Job..." />
                <input type="text" size="50" maxlength="100" name="job_location" placeholder="Location..." />
                <input type="submit" name="run" value="Search" />
                </form>
            </p>
        </div>
    </body>
</html>