{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/web_search.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
        <title>Jobomate</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    </head>
    <body>
        <div class="page-header">
            <h1>Jobomate</h1>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="overview">
                    <p>
                        Automate your Job Search
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="description">
                    <p>
                        Enter a job description and a location then let Jobomate handle the rest!
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="information_details">
                    <p>
                        First tell us who you are!
                    </p>
                </div>
            </div>
            <form method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-xl-6 text-center">
                        <p>
                            {% csrf_token %}
                            {{ name_form }}
                            <br><br>
                            {{ email_form }}
                            <br><br>
                        </p>    
                    </div>
                </div>
                <div class="row">
                    <div class="resume_text">
                            <p>Upload a resume!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 resume_upload">
                        <label class="file_upload">
                            {% csrf_token %}
                            {{ upload_form }}
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="job_text">
                        <p>Now let's search for some jobs!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 job_forms">
                        <p>
                            {% csrf_token %}
                            {{ job_search_form }}
                            <br><br>
                            <input type="submit" name="run" value="Search!"/>
                            <script>
                            $(document).load(function() {
                                $('input:submit').click(function() {
                                $(this).prop("disabled", true);
                                $(this).css("background-color", "#8CFFB6");
                                $(this).prop("value", "Success!");
                                $(this).parents('form').submit();
                                    });
                                });
                            </script>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>