h1 {
    color: #565656;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 4px;
    text-align: center;
}

body {
    background-color: #FEFEFE;
    font-family: 'Lato', sans-serif;
}

.page-header {
    background-color: #F7F7F7;
    margin-top: 0;
    padding: 1px 1px 8px;

}

.overview {
    font-size: 80px;
    font-weight: 300;
    color: #00B1F4;
    margin-bottom: 0px;
    text-align: center;
}

.description {
    font-weight: 300;
    font-size: 17px;
    color: #3D3D3D;
    margin-top: 0px;
    margin-bottom: 40px;
    text-align: center;
}

.information_details {
    font-weight: 300;
    font-size: 17px;
    color: #3D3D3D;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
}

.job_text {
    font-weight: 300;
    font-size: 17px;
    color: #3D3D3D;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
}

.job_forms {
    text-align: center;
}

.resume_text {
    font-weight: 300;
    font-size: 17px;
    color: #3D3D3D;
    text-align: center;
    margin-bottom: 15px
}

.resume_upload {
    width: 200px;
    margin: 0 auto;
}

input[type=text] {

    height: 25px;
    width: 350px;
}

input[type=email] {

    height: 25px;
}

input[type=file] {

    height: 25px;
    display: inline-block;
    
}
input[type=submit] {
    background: #00B1F4;
    color: #FFFFFF;
    border: 0;
    height: 48px;    
    width: 70px;
}

input[type=submit]:hover{
    background:#34C8FF;
}