h1 {
    color: #565656;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 4px;
    text-align: center;
}

body {
    background-color: #F5F5F5;
    font-family: 'Lato', sans-serif;
}

.page-header {
    background-color: #FFFFFF;
    margin-top: 0;
    padding: 1px 1px 8px;

}

.overview {
    font-size: 80px;
    font-weight: 700;
    color: #00B1F4;
    margin-bottom: 0px;
    text-align: center;
}

.description {
    font-weight: 400;
    font-size: 17px;
    color: #3D3D3D;
    margin-top: 0px;
    margin-bottom: 40px;
    text-align: center;
}

.information_details {
    font-weight: 400;
    font-size: 17px;
    color: #3D3D3D;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
}

.job_text {
    font-weight: 400;
    font-size: 17px;
    color: #3D3D3D;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
}

.job_forms {
    text-align: center;
}

.resume_text {
    font-weight: 400;
    font-size: 17px;
    color: #3D3D3D;
    text-align: center;
    margin-bottom: 15px
}

.resume_upload {
    width: 200px;
    margin: 0 auto;
}

input[type=text] {
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    height: 48px;
    width: 350px;
    border: 0px;
    outline: none;
    padding: 5px 0px 5px 5px;
    margin: 1px 1px 1px 1px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 15px;
    color: #3D3D3D;
}

input[type=text]:focus {
    box-shadow: 0 0 5px #00B1F4;
    padding: 5px 0px 5px 5px;
    border-width: 0px;
    outline: none;

}

input:-webkit-autofill {
    -webkit-box-shadow: 0px 0px 0px 1000px white inset;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0px 0px 0px 1000px white inset;
}

input[type=email] {

    height: 25px;
}

input[type=file] {

    height: 25px;
    display: inline-block;
    
}
input[type=submit] {
    background: #00B1F4;
    color: #FFFFFF;
    border: 0;
    height: 48px;    
    width: 140px;
}

input[type=submit]:hover{
    background:#34C8FF;
}